@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Update Page";
}


<div class="text-center">
    <h1 class="is-size-3 display-4">Update Data</h1>
    <form method="post" action="/User/Update/@Model.Id">
        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input id="FirstName" name="FirstName" value="@Model.FirstName" class="input" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input id="LastName" name="LastName" value="@Model.LastName" class="input" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">UserName</label>
            <div class="control">
                <input id="UserName" name="UserName" value="@Model.UserName" class="input" type="text">
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input id="Email" name="Email" class="input" value="@Model.Email" type="email">
            </div>
        </div>
        <div class="field">
            <label class="label">Birth Date</label>
            <div class="control">
                <input id="BirthDate" name="BirthDate" class="input" value="@Model.BirthDate" type="datetime">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
        <hr />
    </form>
    <form method="post" action="/User/Delete/@Model.Id" id="DeleteData">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-danger is-light">Delete</button>
            </div>
        </div>
    </form>
</div>
